body {
  background-color: bisque;
}

.box {
  margin: 50px 50px;
  width: 50px;
  height: 50px;
  background-color: lightpink;
  border: 2px solid indianred;
  transition: all 2s ease 0s;

  /* transition-property: all;
  transition-duration: 8s;
  transition-timing-function: ease;
  transition-delay: 0s; 
  (these four proporties you can write in one line (transition: )*/
}

.translated-on-hover:hover .box {
  translate: 75vw;
  background-color: red;
}

.scale-on-hover:hover .box {
  scale: 2;
  background-color: red;
}

.rotate-on-hover:hover .box {
  rotate: 45deg;
  background-color: red;
}

.inner {
  width: 0;
  height: 100%;
  background-color: lightskyblue;
  transition: 1s ease;
}

.section1:hover .inner {
  width: 1000px;
}

.ease-in {
  transition-timing-function: ease-in;
}

.ease-out {
  transition-timing-function: ease-out;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

.linear {
  transition-timing-function: linear;
}

.cubic-bezier {
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.8, 8.1);
}

/* https://tools.webdevpuneet.com/css-easing-generator/*/

@keyframes move-to-right {
  50% {
    rotate: 180deg;
  }

  50% {
    translate: 85vw;
  }
}

.box1 {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-top: none;

  /* animation: move-to-right 1s; */

  animation-name: move-to-right;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  /* animation-timing-function: ease-out; */
  animation-direction: alternate;
}

@keyframes move-to-right-second {
  100% {
    translate: 75vw;
  }
}


.line {
  width: 1540px;
  height: 100px;
  border: 4px solid blue;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: lightskyblue;

  animation-name: move-to-right-second;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;

  animation-direction: alternate;
}

.line:hover .box2 {
  animation-play-state: paused;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  font-size: 40px;
  color: rgb(247, 6, 6);
  min-height: 100vh;
}

/* .modal {
  position: fixed;
  z-index: 100;

  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgb(0 0 0 / 0.3);
} */

/* .modal-inner {
  padding: 30px;
  background-color: white;
  border-radius: 30px;

  max-height: 100%;
  overflow-y: auto;
} */

.box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: tomato;
  height: 100px;

  width: 50%;
  min-width: 200px;
  max-width: 500px;
}

.catalog-title {
  font-size: 64px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.catalog-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
  min-height: 100px;
}

@media (max-width: 800px) {
  .catalog-title {
    font-size: 36px;
  }

  .catalog-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .catalog-list {
    grid-template-columns: 1fr;
  }
}