.first-title {
  position: absolute;
  left: 45%;
  font-size: 50px;
  font-weight: 900;
  padding: 30px 30px 30px 30px;
  box-shadow: 0 0 50px 50px rgb(0, 130, 22);
  border-radius: 15%;
  color: rgba(209, 255, 6, 0.959);
  background-color: rgb(177, 66, 22);
}

#first-text {
  color: chartreuse;
  font-size: x-large;
}

[placeholder] {
  border: 3px solid darkturquoise;
}

[type="dec"] {
  box-shadow: 3px 3px 3px 3px indianred;
}

[type="tel"] {
  box-shadow: 3px 3px 3px 3px #5c7ccd;
}

[type=email] {
  box-shadow: 3px 3px 3px 3px #7bf178;
}

h2+p {
  color: aquamarine;
}

/*this selector(+)choose next value*/
/*this selector(~)choose all next values*/
.error-message {
  color: red;
  visibility: hidden;
}

.input.is-invalid+.error-message {
  visibility: visible;
}

.box1 {
  /* display: block; */
  /*it's not necessary -display:block when you have <div> tag in the HTML;*/
  width: 200px;
  /* height: 100px; */
  border: 2px solid indianred;
  padding: 15px 40px;
  margin: 50px;
  background-color: antiquewhite;
  overflow: hidden;
  resize: vertical;
}

span {
  /* display: inline; */
  /*it's not necessary -display:inline when you have <span> tag in the HTML;
    width: 100px; it doesn't working with inline*/
  /* height: 120px; it doesn't working with inline*/
  border: 1px solid yellow;
  margin: 100px 50px 100px 100px;
  margin-top: 100px;
  padding: 15px 40px;
  /* display: none; */
}

.second-span {
  display: inline-block;
  width: 100px;
  height: 120px;
  margin: 100px 100px 100px 300px;
  border: 4px solid green;
  /* display: none; */
}

.box {
  width: 200px;
  height: 200px;
  padding: 15px 40px;
  margin-top: 40px;
  background-color: aqua;
  border: 10px solid pink;
}

.normal-size {
  box-sizing: border-box;
  /* Thanks to the additional class .normal-size and 
  the property box-sizing: border-box; which acts on the second element, 
  its sizes are disabled. Now the border frame and the internal padding are 
  part of the specified width and height. */
}

.box2 {
  width: 100px;
  height: 100px;
  border: 5px ridge ivory;
  margin-top: 40px;
  padding-inline: 100px;
  padding-block: 100px;
  background-color: antiquewhite;
}

.bordered-wrapper {
  width: 300px;
  border: 2px dashed rgb(28, 185, 22);
}

.box3 {
  width: 200px;
  height: 200px;
  margin-inline: auto;
  background-color: rgb(255, 0, 106);
}

body {
  background-color: bisque;
}