.fonts {
  position: absolute;
  left: 35%;
  font-size: 50px;
  font-weight: 900;
  padding: 30px 30px 30px 30px;
  box-shadow: 0 0 50px 50px indigo;
  border-radius: 15%;
  color: rgb(19 10 150 / 0.5);
  background-color: rgb(212, 168, 253);
}


@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto-LightItalic.woff2(wrong_url)") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Transfonter.org to convert fonts*/

.custom-font {
  font-family: 'Roboto', Arial, sans-serif;
  color: rgb(248, 5, 17);
  line-height: 1.5;
  font-size: 16px;

}

.part {
  font-size: 20px;
  color: blue;
}


.doto-custom-font2 {
  font-family: 'Doto', sans-serif;
  font-size: 32px;
}


.bold {
  font-weight: 700;
}

.transparend {
  color: transparent;
  font-size: 40px;
  border: 5px solid black;
  background-color: transparent;
}

.something {
  color: aqua;
  font-size: 40px;
  border: 5px solid currentColor;
  background-color: blue;
}

.box1 {
  /* position: static; */
  width: 500px;
  height: 600px;
  background-image: url('././Images/Herman_Melvin.jpg');
  background-repeat: round;
  background-color: tomato;
}

.box2 {
  /* position: static; */
  width: 500px;
  height: 600px;
  /* margin-inline: auto; */
  background-image: url('././Images/Angry_puppy.jpg');
  background-repeat: no-repeat;
  background-color: rgb(7, 248, 19);
  background-position: center;
  /* background-size: 100% 100%; used to stretch across the background */
  /* background-size: contain; To make the image fully fit 
  the size of the element.(used for Portrets or images with strict conditions)*/
  /* background-size: cover; The image is scaled with preserved proportions 
  so that it completely occupies the element background.(used for landscapes)*/
}

.box3 {
  /* position: static; */
  width: 500px;
  height: 600px;
  background-image: url('././Images/Tower.jpg');
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat;
}

.box4 {
  padding: 50px;
  border: 15px dashed blue;
  background-image: url('./Images/ocean.jpg');
  background-position: center;
  background-size: cover;
  /* background-clip: content-box; */
}

body {
  background-color: bisque;
}


.section1 {
  font-size: 30px;
  position: relative;
  top: 20px;
  left: 500px;
  width: 100%;
  height: 5px;
}


aside {
  position: sticky;
  top: 100px;
  width: 300px;
  height: 600px;
  /* max-height: 80vh; */
  padding-left: 40px;
  left: 2000px;
  border: 5px solid rgb(27, 202, 214);
  background-color: turquoise;
  z-index: 200;
}

.box-catalog {
  width: 200px;
  height: 150px;
  padding: 50px 50px;
  margin-top: 40px;
  background-color: aqua;
  border: 10px solid pink;
  text-align: center;
}

span {
  color: rgb(235, 3, 3);
  font-size: 30px;
  position: relative;
  left: 550px;
}

.span2 {
  position: absolute;
  margin-left: 450px;
  color: rgb(235, 3, 3);
  font-size: 30px;
  left: 600px;
}

.box-purchases {
  width: 200px;
  height: 150px;
  padding: 50px 50px;
  margin-top: 40px;
  background-color: aqua;
  border: 10px solid pink;
  text-align: center;
}

.section2 {
  font-size: 30px;
  position: absolute;
  top: 1116px;
  left: 1000px;
}

.box-purchases:not(:last-child) {
  color: rgb(7, 209, 58);
}

.box-catalog:nth-child(1) {
  color: rgb(39, 4, 236);
}

.tooltip:not(.is-active) {
  display: none;
}
