body {
	font: 10pt Arial, Helvetica, sans-serif;
	background: #1F2833;
	margin: 0;
}
.header {
	background: #0B0C10;
	font-size: 14pt;
	display: flex;
	font-weight: bold;
	padding: 0 3%;
	justify-content: space-between;
	align-items:center;
	padding-right: 50px;
}
.logo{
	width: 80px;
}
.lang-choice{
	padding: 10px 0;
}
.lang-choice li{
	display: inline-block;
	margin: 0 10px;
}
.lang-choice li a{
	color: #45A29E;
	text-decoration: none;
	cursor: pointer;
}

.lang-choice li a:hover{
	color: #66FCF1;
}

.lang-choice li i {
	color: #66FCF1;
	transform: scale(1.2, 1.2);
	margin-left: 15px;
}

.stretch{
	background: #1F2833;
	display: flex;
	color: white;
	justify-content: space-around;
	
}

.stretch div label{
	display: block;
	margin-top: 20px;
	transform: translate(28px, 0);
}

.stretch input{
	background: #1F2833;
	border-color: #45A29E;
	border-style: solid;
	border-radius: 7px;
	height: 35px;
	width: 400px;
	color: white;
	padding-left: 5px;
	transform: translate(28px, 0);
}

.stretch input:focus{
	outline: none;
	border-color: #66FCF1;
}

.stretch button{
	color: white;
	background: #1F2833;
	border-color: #45A29E;
	border-width: 2px;
	border-style: solid;
	border-radius: 7px;
	padding: 10px 15px;
	margin-top: 40px;
	cursor: pointer;
	transform: translate(28px, 0);
}

.stretch button:hover{ border-color: #66FCF1; }

.stretch select{
	background: #1F2833;
	-webkit-appearance: none;
	border-width: 2px;
	border-color: #45A29E;
	border-style: solid;
	height: 35px;
	width: 400px;
	color: #45A29E;
	padding-left: 5px;
	cursor: pointer;
	transform: translate(28px, 0);
}

.stretch select:focus{
	outline: none;
	border-color: #66FCF1;
}

#education:hover ~ #arrow { color: #66FCF1; }
#education:focus ~ #arrow {
	color: #66FCF1;
	transform: rotate(0.5turn);
}

.stretch option:hover{
	background: #45A29E;
	color: #1F2833;
}

.stretch i{
	color: #45A29E;
	cursor: pointer;
	transform: rotate(0.0turn);
	pointer-events: none;
}

.stretch i:hover{
	color: #66FCF1;
}

.results{
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.results div{
	border-color: #45A29E;
	border-width: 2px;
	border-style: solid;
	height: 480px;
	width: 1340px;
}

.buttons {
	display: flex;
	justify-content: center;
	margin-left: 10px;
	margin-top: 15px;
}

.buttons ul {
	width: 1300px;
	text-align: right;
	align-items:start;
	margin: 0 0 0 12px;
}

.buttons ul li {
	display: inline-block;
	margin: 0 10px;
}

.buttons ul li button{
	color: white;
	background: #1F2833;
	border-color: #45A29E;
	border-width: 2px;
	border-style: solid;
	border-radius: 7px;
	padding: 10px 15px;
	cursor: pointer;
}

.buttons ul li button:hover{
	border-color: #66FCF1;
}
